.container {
    grid-column: 1 / -1;

    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
}

.profileContent {
    flex: 1;
}
